.tablist {
  margin-top: 10rem;
  border: 1px solid #616161;
}

.tabs {
  display: flex;
  background-color: #efefef;
}

button {
  padding: 0.5rem 1rem;
  font-size: 16px;
  border: none;
}

.descs {
  padding: 1rem;
}

.hidden {
  display: none;
}

.active {
  background-color: #616161;
  color: #fff;
}
